body{
    margin: 0%;
    background: #9C835F;
}

#container {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: left;
    color: #F9B23D;
}


#div1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0.1em;
    text-align: center;
    width: 630px;
    float: right;
}

#div1 .batu1 {
    height: 92px;
    width: 128px;
    left: 382px;
    top: 267px;
    border-radius: 0px;
    margin-top: 50px;    
}

#div1 .gunting1 {
    height: 92px;
    width: 128px;
    left: 382px;
    top: 267px;
    border-radius: 0px;
    margin-top: 50px;    
}

#div1 .kertas1 {
    height: 92px;
    width: 128px;
    left: 382px;
    top: 267px;
    border-radius: 0px;
    margin-top: 50px;    
}

#div2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0.1em;
    text-align: center;
    width: 630px;
    float: left; 
}
#div2 .batu2 {
    height: 92px;
    width: 128px;
    left: 382px;
    top: 267px;
    border-radius: 0px;
    margin-top: 50px;    
}

#div2 .gunting2 {
    height: 92px;
    width: 128px;
    left: 382px;
    top: 267px;
    border-radius: 0px;
    margin-top: 50px;    
}

#div2 .kertas2 {
    height: 92px;
    width: 128px;
    left: 382px;
    top: 267px;
    border-radius: 0px;
    margin-top: 50px;    
}

#div3 {
    margin: 0%;
}

#div3 .vs{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 200;
    line-height: 196px;
    letter-spacing: 0.1em;
    text-align: center;
    margin-top: 100px;

}

#div3 .refresh {
    height: 71px;
    width: 77px;
    left: 681px;
    top: 843px;
    border-radius: 0px;
    margin-top: 150px;
}